# dependencies
node_modules
.pnpm-store

# production / build
dist
build

# local environment variables & secrets
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*

# editor & OS
.DS_Store
Thumbs.db
.vscode/
.idea/
